@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FFF9E1;

}


.cta-link {
  width: auto;
  height: auto;
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
  &:before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: black;
    display: block;
    bottom: 0;
    left: 0;
    position: absolute;
    visibility: hidden;
    transform: scaleX(0);
    transition: 0.3s transform ease-in-out,
                0.3s visibility ease-in-out;
    transform-origin: right bottom;
  }
  &:hover:before {
    visibility: visible;
    transform: scaleX(1);
    transform-origin: left bottom;}}



   /* Neo-Brutalism Float Animation */
   @keyframes float {
     0%, 100% { transform: translateY(0px); }
     50% { transform: translateY(-20px); }
   }

   .animate-float {
     animation: float 3s ease-in-out infinite;
   }

   /* Fix testimonial slider padding and background */
   .testimonial-slider {
     background: transparent !important;
   }

   .testimonial-slider .slick-slide {
     padding: 0 !important;
     margin: 0 !important;
   }

   .testimonial-slider .slick-list {
     margin: 0 !important;
     padding: 0 !important;
   }

   .testimonial-slider .slick-track {
     display: flex !important;
   }

   .testimonial-slider .slick-slide > div {
     width: 100% !important;
     outline: none !important;
     height: 100% !important;
   }

   .testimonial-slider .slick-slide {
     height: auto !important;
   }
  